name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Setup Python 3.8
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.8
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          python -m poetry install
      - name: Lint Last Commit
        if: github.event_name == 'push'
        run: |
          poetry run gitlint
      - name: Lint All Commits on Pull Request
        if: github.event_name == 'pull_request'
        run: |
          poetry run gitlint --commits "origin/${{ github.base_ref }}...HEAD"
      - name: Format
        run: |
          poetry run pre-commit run --all-files
      - name: Test
        run: |
          poetry run pytest
