name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 0
      - name: Setup Python 3.8
        uses: actions/setup-python@v2.1.3
        with:
          python-version: 3.8
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Lint Last Commit
        if: github.event_name == 'push'
        run: |
          gitlint
      - name: Lint All Commits on Pull Request
        if: github.event_name == 'pull_request'
        run: |
          gitlint --commits "origin/${{ github.base_ref }}...HEAD"
      - name: Format
        run: |
          black . --check --diff
      - name: Lint
        run: |
          pylint salutation.py test_salutation.py
      - name: Import Sorting
        run: |
          isort . --check --diff
      - name: Test
        run: |
          pytest
