name: Mutation testing

on: workflow_dispatch

jobs:
  mutation-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Setup Python
        uses: actions/setup-python@v2.3.1
        with:
          python-version: 3.9
      - uses: actions/cache@v2.1.7
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ secrets.CACHE_SEED }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('./poetry.lock') }}
          restore-keys: ${{ runner.os }}-pip-${{ secrets.CACHE_SEED }}-${{ env.PYTHON_VERSION }}-
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          python -m poetry install
      - name: Run mutation tests
        run: poetry run mutmut run
      - name: Create mutation test report
        run: poetry run mutmut junitxml > mutmut.xml
        if: ${{ failure() }}
      - name: Archive mutation test report
        uses: actions/upload-artifact@v2
        with:
          name: mutation-test-report
          path: mutmut.xml
        if: ${{ failure() }}
